<div class="subtitle">
  <app-subtitle titulo="Inputs" />
</div>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" divider-color="primary" [dynamicHeight]="true">
  <mat-tab label="Input">
    <div class="container">

      @for (item of inputs(); track $index) {
      <div class="historial_input">
        <app-registros [comandos]="item" />
      </div>
      }

    </div>
  </mat-tab>
  <mat-tab label="TextArea">
    <div class="container">

      @for (item of textarea(); track $index) {
      <div class="historial_input">
        <app-registros [comandos]="item" />
      </div>
      }

    </div>
  </mat-tab>
  <mat-tab label="Select">
    <div class="container">

      @for (item of select(); track $index) {
      <div class="historial_input">
        <app-registros [comandos]="item" />
      </div>
      }

    </div>
  </mat-tab>
</mat-tab-group>