<div class="dropdown">
  <img src="assets/img/profile.jpeg" class="menu-admin" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false" >
  <div class="dropdown-menu">

    <div class="header-content">
      <mat-icon (click)=" closeMenu()">close</mat-icon>
      <div class="gestion">
        <p>avelasquezhogmail.com</p>
        <p>Gestionado por Gmail</p>
      </div>

      <img src="assets/img/profile.jpeg">

      <div class="saludo">
        ¡Hola, Anthony Enrique!
      </div>

      <a href="">Gestionar tu cuenta de Google</a>
    </div>

  </div>
</div>
