
@use './app/styles/material.scss';

:root{
  --background: #010408;
}

:host {
  display: block;
  height: 100vh;
}

html,body{
  overflow: auto;
}

html,
body,
app-root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --primary-color: #cc0000;
  
}


mat-icon,.mdc-tab__text-label{
  color: white !important;
}

