<mat-toolbar>
  <button mat-icon-button class="example-icon sidebar-content-admin" (click)="collapsed.set(!collapsed())"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="" class="logo-header">
    <app-img imagen="assets/img/logo.jpg" alts="logo"/>
  </a>
  <span class="example-spacer"></span>
  <div class="logo">
    <app-img imagen="assets/img/profile.jpg" alts="Foto de Perfil"/>
  </div>

</mat-toolbar>




<mat-sidenav-container>
  <mat-sidenav mode="side" opened [style.width]="sidenavWidth()">
    <app-sidebar-content [collapsed]="collapsed()" />
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
