*{
  transition: all 500ms ease-in-out;
}

.example-spacer {
    flex: 1 1 auto;
}

.content {
    padding: 10px;
}

mat-toolbar {
    position: relative;
    z-index: 5;
    background: var(--background);
    height: 50px;
}

mat-sidenav-container {
    height: calc(100vh - 50px);
}

mat-sidenav {
    background-color: white;
    border: none !important;
    border-radius: 0;
    background: var(--background);
}

mat-sidenav-content {
    height: calc(100vh - 50px);
    scrollbar-width: none;
    background: var(--background);
}


mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}

.logo-header{
  overflow: hidden;
  width: 80px;
  height: 30px;
}

.logo {
  overflow: hidden;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}




@media screen and (width <=1000px) {

  .sidebar-content-admin {
    display: none;
  }

  mat-sidenav {
    width: 65px !important;
  }

  mat-sidenav-content {
    margin-left: 65px !important;
  }
}